# User and group ID for the app container
# On Linux, run: id -u to get your value
# install.sh will set this automatically
USER_ID=1000

APPNAME=mahodoc
# Nodes
MAHO_APP_ENABLE=1
DATABASE_ENABLE=1
REDIS_ENABLE=1

# Dev
PHPMYADMIN_ENABLE=0

# Database
DB_HOST=db
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=maho
MYSQL_USER=maho_user
MYSQL_PASSWORD=maho_password

# Hostnames
FRONTEND_HOST=${APPNAME}.127.0.0.1.nip.io
ADMIN_HOST=${APPNAME}-admin.127.0.0.1.nip.io
PHPMYADMIN_HOST=${APPNAME}-phpmyadmin.127.0.0.1.nip.io

# Locale
LOCALE=en_US
TIMEZONE=America/New_York
CURRENCY=USD

# Set to any non-empty value to install sample data
SAMPLE_DATA=1

# Admin
ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=veryl0ngpassw0rd
ADMIN_FIRSTNAME=Maho
ADMIN_LASTNAME=User
